.themetask {
    max-width: 1500px;
    margin: 0 auto;
    padding-top: 25px;
    padding-left: 25px;
    padding-right: 25px;
}

.themetask-top-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-items: center;
    margin-bottom: 20px;
}

.see-more-btn {
    background: transparent;
    width: 80px;
    height: 30px;
    border: none;
    border-radius: 20px;
    transition: 0.5s;
}

.see-more-btn:hover {
    background-color: #0088F2;
    color: white;
    cursor: pointer;
}

.themetask-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 15px;
}

/* media query */
@media only screen and (max-width: 1080px) {
    .themetask-wrapper {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media only screen and (max-width: 750px) {
    .themetask-wrapper {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (max-width: 540px) {
    .themetask-wrapper {
        grid-template-columns: 1fr;
    }

    .themetask-top-area {
        justify-content: space-evenly;
    }
}

