.hero {
    height: 280px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-image: linear-gradient(rgba(0, 28, 48, 0.6), rgba(0, 28, 48, 0.6)), url('../../images//hero-banner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.hero-title {
    font-size: 20px;
    word-spacing: 5px;
    margin-bottom: 20px;
}

.hero-form {
    max-width: 820px;
    height: 50px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.input-area {
    flex-grow: 1;
    background-color: white;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.input-area input {
    width: 90%;
    height: 50px;
    border: none;
    outline: none;
    font-size: 16px;
}

.resources-area {
    height: 100%;
    background-color: white;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.resources-area svg {
    width: 25px;
}

.search-btn {
    height: 100%;
    background-color: #0088F2;
    border: none;
    width: 90px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    cursor: pointer;
}

.popular-keywords {
    margin-bottom: 20px;
}

.keyword {
    margin: 0 4px;
    cursor: pointer;
}

.keyword::after {
    content: ",";
}

.hero-button button {
    height: 35px;
    width: 100px;
    margin: 0 5px;
    font-size: 14px;
    background: none;
    color: white;
    border: 2px solid white;
    border-radius: 20px;
    transition: all 0.6s;
}

.hero-button button:hover {
    cursor: pointer;
    background-color: #0088F2;
}

.hero-button .active {
    background-color: #0088F2;
    border: none;
}